<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My App{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/" class="circle"><img src="{{ url_for('static', filename='images/home.png') }}" alt="Home">Home</a></li>
        <li><a href="/prime" class="button"><img src="{{ url_for('static', filename='images/math.png') }}" alt="Prime Number">Prime Numbers</a></li>
        <li><a href="/sort" class="button"><img src="{{ url_for('static', filename='images/sort.png') }}" alt="Sort Numbers">Sort Numbers</a></li>
      </ul>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>

